<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
    <select id="findOne" resultType="com.example.demo.entity.User">
    	SELECT * FROM users WHERE id = #{id}
    </select>
    <insert id="save" useGeneratedKeys="true" keyProperty="user.id">
    	INSERT INTO users (name) VALUES (#{user.name})
    </insert>
    <update id="update">
    	UPDATE users SET name = #{name} WHERE id = #{id}
    </update>
    <delete id="delete">
    	DELETE FROM users WHERE id = #{id}
   	</delete>
</mapper>